* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Maven Pro', sans-serif;
    /* background-color:rgb(143, 143, 255); */
    color: white;
}

.page-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

nav {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(143, 143, 255);
    padding: 1.5rem 0;
}

.page-title {
    font-size: 3rem;
}

.search-section {
    width: 100%;
    background-color: rgb(78, 78, 190);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 2rem;
}

.platform-buttons-container, .make-buttons-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.platform-selection, .make-selection {
    text-align: center;
    margin: 1rem 0;
    font-size: 2rem;
}

.selection-button {
    padding: 10px 20px;
    border: none;
    border-radius: 9px;
    margin: 0 1rem;
    font-family: 'Maven Pro', sans-serif;
    font-weight: 700;
    background-color:rgb(190, 190, 255);
    transition: 0.2s;
}

.selection-button:hover {
    cursor: pointer;
    background-color:rgb(3, 3, 94);
    color: white;
    transform: translateY(-4px);
}


.results-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2.5rem 0;
    background-color: rgb(3, 3, 94);
    width: 100%;
}

.models {
    margin-bottom: 2rem;
    font-size: 3rem;
}

.item-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 4rem;
}

.grid-item {
    border: white solid 2px;
    border-radius: 10px;
    transition: 0.5s;
}

.grid-item:hover {
    cursor: pointer;
    box-shadow: 0px 5px 7px 1px rgb(255, 255, 255);
    transform: translateY(-5px);
}

.grid-item-stats {
    padding: 1rem;
}

.footer-items-container {
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color:rgb(143, 143, 255);
    color: rgb(3, 3, 94);
    font-weight: 700;
    padding: 2rem 0;
}

@media screen and (max-width: 800px) {
    .page-title {
        font-size: 2.5rem;
    }

    .selection-button {
        padding: 10px 20px;
    }

    .models {
        font-size: 2.5rem;
    }

    .item-grid {
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 2rem;
    }
}

@media screen and (max-width: 420px) {
    .page-title {
        font-size: 2rem;
    }

    .selection-button {
        padding: 10px 20px;
    }

    .models {
        font-size: 2rem;
    }

    .item-grid {
        grid-template-columns: 1fr 1fr;
        grid-gap: 1rem;
    }
}